body
{
	font-family: tahoma;
	color: teal;
	background-color: silver;
	margin-left: 200px;
	margin-right: 200px;
}

header, footer
{
	text-align: center;
	color: orange;
	font-weight: bold;
}

h1, h2, h3
{
	font-family: Times, serif;
	text-align: center;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
	font-weight: bold;
}

.attribute
{
	font-weight: bold;
}

